<main *ngIf="bucket$ | async as bucket" class="d-flex flex-column h-100">
  <app-action-ribbon
    (deleteSelected)="deletePost(bucket, $event)"
    (openManageTags)="openManageTags(bucket)"
    (showUploadProgress)="showUploadProgress()"
    (toggleInfo)="toggleInfo()"
    (uploadFiles)="showUploadDialog()"
    [activeJobs]="(activeJobs$ | async) || 0"
    [selectedPost]="sidebarPost$ | async"
    [showPostActions]="((showSidebar$ | async) || false)">
  </app-action-ribbon>

  <app-post-detail-sidebar
    (postEditSubmit)="editPost(bucket, $event)"
    (searchForTag)="addTagToSearchQuery(bucket, $event)"
    [bucket]="bucket"
    [loadingState]="sidebarPostLoadingState$ | async"
    [searchQuery]="(searchQuery$ | async) || null"
    [open]="(showSidebar$ | async) || false"
    [post]="sidebarPost$ | async"
    (editTag)="editTag(bucket, $event)"
    class="flex-grow-1">

    <app-search-results (requestNextData)="loadNext(bucket)"
                        (showDetail)="showPost(bucket, posts[$event])"
                        (showInfo)="showSidebar(bucket, posts[$event])"
                        *ngIf="(posts$ | async) || null as posts"
                        [items]="castPostToListing(posts)"
                        [nextLoadingState]="postsLoadingState$ | async"
                        [resultCount]="postCount$ | async">

      <div  class="ms-4 me-4 mt-4">
        <app-search-bar
          (copyQuery)="copyQuery(bucket, $event)"
          (queryChange)="queryChange(bucket, $event)"
          (searchTextChange)="searchTextChange(bucket, $event)"
          [query]="(searchQuery$ | async) || null"
          [tags]="(searchTags$ | async) || []">
        </app-search-bar>
      </div>


    </app-search-results>


  </app-post-detail-sidebar>
</main>
