<div>
  <div class="row">
    <mat-form-field appearance="fill" class="col">
      <mat-label>{{ title }}</mat-label>

      <mat-chip-grid #chips>

        <mat-chip-row (removed)="removeIndex(i)" *ngFor="let item of _query?.items; let i = index">

          <ng-template [ngIf]="item.type == 'tag'">
            {{ item.tag.name }}
          </ng-template>

          <ng-template [ngIf]="item.type == 'text'">
            "{{ item.str }}"
          </ng-template>

          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>

        <input
          #input
          (focus)="searchTextChange.emit(input.value == '' ? null : input.value)"
          (input)="searchTextChange.emit(input.value == '' ? null : input.value)"
          (keydown.enter)="auto.closed && submit()"
          [matAutocomplete]="auto"
          [matChipInputFor]="chips" autocomplete="off"
          matInput
          placeholder="Add search criteria">

      </mat-chip-grid>

      <mat-autocomplete #auto autoActiveFirstOption>
        <mat-option (onSelectionChange)="addText(input.value)" *ngIf="input.value != ''">
          Text: "{{ input.value }}"
        </mat-option>

        <mat-option (onSelectionChange)="addTag(tag)"
                    *ngFor="let tag of tags">
          Tag: {{ tag.name }}  <small>({{ tag.linkedPosts }})</small>
        </mat-option>
      </mat-autocomplete>

    </mat-form-field>

    <mat-form-field appearance="fill" class="col-md-4 col-xl-2" *ngIf="!hideSortBy">
      <mat-label>Sort by</mat-label>
      <mat-select (valueChange)="setOrder($event)" [value]="_query?.order">
        <mat-option [value]="'newest'">Newest</mat-option>
        <mat-option [value]="'oldest'">Oldest</mat-option>
        <mat-option [value]="'relevant'">Relevant</mat-option>
        <mat-option [value]="'random'">Random</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button (click)="submit()" color="primary" mat-flat-button *ngIf="!hideSearchButton">
    Search
  </button>
</div>


