<div class="dialog-container" *ngIf="(bucket$ | async) || null as bucket">

  <div class="toolbar d-flex" *ngIf="open">

    <div class="spacer"></div>

    <button *ngIf="!originalSize" (click)="originalSize = true" mat-mini-fab matTooltip="Reset view to original">
      <mat-icon>sync</mat-icon>
    </button>

    <ng-container *ngIf="(item$ | async) || null as item">
      <a mat-mini-fab [href]="item.content.url" target="_blank">
        <mat-icon>link</mat-icon>
      </a>
    </ng-container>

    <button mat-mini-fab *ngIf="{ mode: viewedPostMode$ | async } as ctx" (click)="toggleViewMode()" color="primary">
      <mat-icon *ngIf="ctx.mode == 'list'">list_view</mat-icon>
      <mat-icon *ngIf="ctx.mode == 'preview'">preview</mat-icon>
    </button>

  </div>

  <div class="left-button" *ngIf="(viewedPostMode$ | async) == 'preview'">
    <ng-container *ngIf="(item$ | async) || null as item">
      <ng-container *ngIf="(post$ | async) || null as post">
        <button mat-fab *ngIf="open && item.position > 0"
                (click)="loadItem(bucket, post.id, item.position - 1)">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </ng-container>
    </ng-container>
  </div>


  <div class="right-button" *ngIf="(viewedPostMode$ | async) == 'preview'">
    <ng-container *ngIf="(item$ | async) || null as item">
      <ng-container *ngIf="(post$ | async) || null as post">
        <button mat-fab *ngIf="open && item.position < post.itemCount - 1"
                (click)="loadItem(bucket, post.id, item.position + 1)">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </ng-container>
    </ng-container>
  </div>

  <app-loadable-content [loadingState]="postLoadingState$ | async" (loadAgain)="reloadPost()">
    <ng-container *ngIf="(post$ | async) || null as post">

      <ng-container *ngIf="(viewedPostMode$ | async) == 'list'; else itemView">

        <app-loadable-content [loadingState]="itemListLoadingState$ | async" (loadAgain)="reloadList()">
          <app-post-item-list
            (clickItem)="loadItemFromList(bucket, $event.postId, $event.position)"
            [items]="(itemList$ | async) || []">
          </app-post-item-list>
        </app-loadable-content>

      </ng-container>

      <ng-template #itemView>
        <app-loadable-content [loadingState]="itemLoadingState$ | async" (loadAgain)="reloadItem()">
          <ng-container *ngIf="(item$ | async) || null as item">
            <div class="overflow-visible">
              <app-media-display
                (nextItem)="item.position < post.itemCount - 1 ? loadItem(bucket, item.postId, item.position + 1) : 0"
                [media]="item.content"
                [(originalSize)]="originalSize"
                style="z-index: 100; position: relative;"
                className="media">
              </app-media-display>
            </div>

          </ng-container>
        </app-loadable-content>
      </ng-template>


    </ng-container>

  </app-loadable-content>


</div>

