<div *ngIf="(bucket$ | async) || null as bucket" class="dialog-container">

  <div *ngIf="open" class="toolbar d-flex">

    <button (click)="toggleViewMode()" *ngIf="{ mode: viewedPostMode$ | async } as ctx" color="primary" mat-mini-fab>
      <mat-icon *ngIf="ctx.mode == 'list'">list_view</mat-icon>
      <mat-icon *ngIf="ctx.mode == 'preview'">preview</mat-icon>
    </button>

    <ng-container *ngIf="{ item: item$ | async,  mode: viewedPostMode$ | async  } as ctx">
      <ng-container *ngIf="ctx.item !== null && ctx.mode == 'preview'">
        <a [href]="ctx.item.content.url" mat-mini-fab target="_blank" matTooltip="Open file in new tab">
          <mat-icon>open_in_new</mat-icon>
        </a>
      </ng-container>

    </ng-container>

    <button (click)="originalSize = true" *ngIf="!originalSize" mat-mini-fab matTooltip="Reset view to original">
      <mat-icon>sync</mat-icon>
    </button>


    <div class="spacer"></div>

    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>

  </div>

  <div *ngIf="(viewedPostMode$ | async) == 'preview'" class="left-button">
    <ng-container *ngIf="(item$ | async) || null as item">
      <ng-container *ngIf="(post$ | async) || null as post">
        <button (click)="loadItem(bucket, post.id, item.position - 1)" *ngIf="open" [disabled]="item.position <= 0"
                mat-fab>
          <mat-icon>arrow_back</mat-icon>
        </button>
      </ng-container>
    </ng-container>
  </div>


  <div *ngIf="(viewedPostMode$ | async) == 'preview'" class="right-button">
    <ng-container *ngIf="(item$ | async) || null as item">
      <ng-container *ngIf="(post$ | async) || null as post">
        <button (click)="loadItem(bucket, post.id, item.position + 1)" *ngIf="open" [disabled]="item.position >= post.itemCount - 1"
                mat-fab>
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </ng-container>
    </ng-container>
  </div>

  <app-loadable-content (loadAgain)="reloadPost()" [loadingState]="postLoadingState$ | async">
    <ng-container *ngIf="(post$ | async) || null as post">

      <ng-container *ngIf="(viewedPostMode$ | async) == 'list'; else itemView">

        <app-search-results (requestNextData)="loadNextItems()"
                            (showDetail)="loadItemFromList(bucket, items[$event].postId, items[$event].position)"
                            *ngIf="(itemList$ | async) || null as items"
                            [disableFooter]="true"
                            [items]="castItemsToListing(items)"
                            [nextLoadingState]="itemListLoadingState$ | async"
                            [startingIndex]="startingIndex$ | async"
                            class="results">
        </app-search-results>
      </ng-container>

      <ng-template #itemView>
        <app-loadable-content (loadAgain)="reloadItem()" [loadingState]="itemLoadingState$ | async">
          <ng-container *ngIf="(item$ | async) || null as item">
            <div class="overflow-visible">
              <app-media-display
                (nextItem)="item.position < post.itemCount - 1 ? loadItem(bucket, item.postId, item.position + 1) : 0"
                [(originalSize)]="originalSize"
                [media]="item.content"
                className="media"
                style="z-index: 100; position: relative;">
              </app-media-display>
            </div>

          </ng-container>
        </app-loadable-content>
      </ng-template>


    </ng-container>

  </app-loadable-content>


</div>

