.left-button {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  z-index: 200;
}

.right-button {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10px;
  z-index: 200;
}

.toolbar {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  z-index: 200;
  gap: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.dialog-container {
  background: none;
  max-width: 80vw;
  max-height: 80vh;
  height: auto;
}

app-media-display .media, .results {
  width: auto;
  height: auto;
  max-width: 80vw;
  max-height: 80vh;
  min-height: 300px;
  object-fit: scale-down;
  display: block;
}

.results {
  height: 80vh;
  width: 80vh;
}

.post-detail-container {
}
