<mat-sidenav-container class="h-100 d-block">
  <mat-sidenav [opened]="open" mode="side" position="end">

    <mat-tab-group>
      <mat-tab label="Info">
        <ng-template matTabContent>

          <app-loadable-content [loadingState]="loadingState">
            <app-post-info (searchForTag)="searchForTag.emit($event)" [post]="post">
            </app-post-info>
          </app-loadable-content>

        </ng-template>
      </mat-tab>
      <mat-tab label="Edit">
        <ng-template matTabContent>

          <form [formGroup]="form" class="m-4">
            <app-post-info-form-fields
              [description]="form.controls.description"
              [source]="form.controls.source"
              [title]="form.controls.title">
            </app-post-info-form-fields>

            <app-tag-edit [(tags)]="postTags" (tagClick)="editTag.emit($event)" [bucket]="bucket">

            </app-tag-edit>

            <button (click)="submit()" color="primary" mat-flat-button>Save</button>
          </form>


        </ng-template>
      </mat-tab>
    </mat-tab-group>


  </mat-sidenav>

  <ng-content></ng-content>

</mat-sidenav-container>
