<div class="actions d-flex">


</div>
<mat-list #list cdkDropList (cdkDropListDropped)="drop($event)" role="list">
  <cdk-virtual-scroll-viewport #viewport [itemSize]="73" style="height: 500px">
    <ng-container *cdkVirtualFor="let item of sortedUploads; let i = index; let isLast = last; trackBy: trackBy; templateCacheSize: 0"
                  class="h-100">
      <mat-list-item cdkDrag [cdkDragData]="i" #option
                     style="height: 73px"
                     (cdkDragStarted)="(option.disabled = true) && dragStart(i)"
                     (cdkDragEnded)="option.disabled = false">

        <img *ngIf="item.upload.thumbnail as thumb; else icon" matListItemAvatar [src]="thumb.url"
             [width]="thumb.dimensions?.width" [height]="thumb.dimensions?.height">

        <ng-template #icon>
          <mat-icon matListItemIcon>upload_file</mat-icon>
        </ng-template>

        <div matListItemTitle>
          {{ item.upload.file.name }}
        </div>

        <div matListItemMeta>
          <button mat-icon-button (click)="deleteIndexes.emit([item.index])">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <div matListItemLine>
          {{ item.upload.file.size | bytes }}
        </div>

        <div matListItemLine *ngIf="item.upload.state == 'error'">
          Error occurred: {{ item.upload.failure?.message }}
        </div>

        <div matListItemLine
             class="d-flex align-items-center"
             *ngIf="item.upload.state == 'done' || item.upload.state == 'uploading'">
          <mat-progress-bar
            mode="determinate"
            [value]="item.upload.progress"
            color="accent">
          </mat-progress-bar>

          <span class="ps-4" *ngIf="item.upload.state == 'uploading'">
          <ng-container *ngIf="item.upload.progress == 100; else progressDetail">
            Processing
          </ng-container>
          <ng-template #progressDetail>
            {{ item.upload.progress |  number:'1.2-2' }}%
          </ng-template>
        </span>

          <span class="ps-4" *ngIf="item.upload.state == 'done'">
          Done
        </span>

          <span class="ps-4" style="white-space: nowrap">
            {{ item.upload.uploadedBytes | bytes }} of {{ item.upload.file.size | bytes }}
        </span>
        </div>
      </mat-list-item>
      <mat-divider *ngIf="!isLast"></mat-divider>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</mat-list>
