<div class="actions d-flex">


</div>
<mat-list #list (cdkDropListDropped)="drop($event)" cdkDropList role="list">
  <cdk-virtual-scroll-viewport #viewport [itemSize]="73" style="height: 500px">
    <ng-container
      *cdkVirtualFor="let item of sortedUploads; let i = index; let isLast = last; trackBy: trackBy; templateCacheSize: 0"
      class="h-100">
      <mat-list-item #option (cdkDragEnded)="option.disabled = false" (cdkDragStarted)="(option.disabled = true) && dragStart(i)"
                     [cdkDragData]="i"
                     cdkDrag
                     style="height: 73px">

        <img *ngIf="item.upload.thumbnail as thumb; else icon" [height]="thumb.dimensions?.height" [src]="thumb.url"
             [width]="thumb.dimensions?.width" matListItemAvatar>

        <ng-template #icon>
          <mat-icon matListItemIcon>upload_file</mat-icon>
        </ng-template>

        <div matListItemTitle>
          {{ item.upload.file.name }}
        </div>

        <div matListItemMeta>
          <button (click)="deleteIndexes.emit([item.index])" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <div matListItemLine>
          {{ item.upload.file.size | bytes }}
        </div>

        <div *ngIf="item.upload.state == 'error'" matListItemLine>
          Error occurred: {{ item.upload.failure?.message }}
        </div>

        <div *ngIf="item.upload.state == 'done' || item.upload.state == 'uploading'"
             class="d-flex align-items-center"
             matListItemLine>
          <mat-progress-bar
            [value]="item.upload.progress"
            color="accent"
            mode="determinate">
          </mat-progress-bar>

          <span *ngIf="item.upload.state == 'uploading'" class="ps-4">
          <ng-container *ngIf="item.upload.progress == 100; else progressDetail">
            Processing
          </ng-container>
          <ng-template #progressDetail>
            {{ item.upload.progress |  number:'1.2-2' }}%
          </ng-template>
        </span>

          <span *ngIf="item.upload.state == 'done'" class="ps-4">
          Done
        </span>

          <span class="ps-4" style="white-space: nowrap">
            {{ item.upload.uploadedBytes | bytes }} of {{ item.upload.file.size | bytes }}
        </span>
        </div>
      </mat-list-item>
      <mat-divider *ngIf="!isLast"></mat-divider>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</mat-list>
