<mat-toolbar class="mat-elevation-z6 position-relative" style="z-index: 1000">

  <button (click)="uploadFiles.emit()" mat-icon-button>
    <mat-icon class="material-icons-outlined">cloud_upload</mat-icon>
  </button>

  <button (click)="showUploadProgress.emit()" mat-icon-button [disabled]="activeJobs == 0">
    <mat-icon [matBadgeHidden]="activeJobs == 0"
              [matBadge]="activeJobs"
              class="material-icons-outlined"
              matBadgeColor="accent">pending
    </mat-icon>
  </button>

  <div class="spacer"></div>

  <ng-container *ngIf="showPostActions && selectedPost">
    <button (click)="deleteSelected.emit(selectedPost)" mat-icon-button>
      <mat-icon class="material-icons-outlined">delete</mat-icon>
    </button>

    <mat-divider [vertical]="true"></mat-divider>
  </ng-container>

  <button (click)="toggleInfo.emit()" [disabled]="selectedPost == null" mat-icon-button>
    <mat-icon class="material-icons-outlined">info</mat-icon>
  </button>

</mat-toolbar>
