<mat-toolbar class="mat-elevation-z6 position-relative" style="z-index: 1000">

  <button mat-icon-button (click)="uploadFiles.emit()">
    <mat-icon class="material-icons-outlined">cloud_upload</mat-icon>
  </button>

  <button mat-icon-button (click)="showUploadProgress.emit()">
    <mat-icon class="material-icons-outlined"
              [matBadgeHidden]="activeJobs == 0"
              [matBadge]="activeJobs"
              matBadgeColor="accent">pending
    </mat-icon>
  </button>

  <div class="spacer"></div>

  <ng-container *ngIf="showPostActions && selectedPost">
    <button mat-icon-button (click)="deleteSelected.emit(selectedPost)">
      <mat-icon class="material-icons-outlined">delete</mat-icon>
    </button>

    <mat-divider [vertical]="true"></mat-divider>
  </ng-container>

  <button mat-icon-button (click)="toggleInfo.emit()">
    <mat-icon class="material-icons-outlined">info</mat-icon>
  </button>

</mat-toolbar>
