.thumbnail {
  height: 100%;
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  object-fit: cover;
  overflow: hidden;
}

mat-card {
  cursor: pointer;
}

.wrapper {
  position: relative;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  pointer-events: none;
}

.contrast {
  background: rgba(1, 1, 1, 0.6);
  border-radius: 3px;

  padding-top: 5px;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;

  mat-icon {

  }
}
.thumb-front {
  object-fit: scale-down;
}
