.thumbnail {
  height: 100%;
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  object-fit: cover;
  overflow: hidden;
}

mat-card {
  cursor: pointer;
}
