<div class="content mat-app-background">
  <app-loadable-content (loadAgain)="reload()" [loadingState]="bucketLoadingState$ | async">

    <app-not-authenticated *ngIf="!(isAuthenticated$ | async); else content">
      <div class="mx-auto col-md-6 col-10 col-xl-4">
        <app-login-form *ngIf="bucket$ | async as bucket" [loadingState]="loginLoadingState$ | async" [bucket]="bucket" (login)="login(bucket, $event)">
          <a mat-stroked-button color="accent" class="ms-3" routerLink="/">Go back</a>
        </app-login-form>
      </div>
    </app-not-authenticated>

    <ng-template #content>
      <ng-container *ngIf="selectedBucket$ | async as bucket">

        <div class="d-flex flex-column h-100">
          <app-header
            (showGeneralInfo)="showGeneralInfo(bucket.auth!)"
            (logout)="logout(bucket.auth!)"
            [bucket]="bucket.bucket">
          </app-header>

          <div class="flex-grow-1">
            <router-outlet></router-outlet>
          </div>
        </div>


      </ng-container>
    </ng-template>


  </app-loadable-content>
</div>


