<div class="row">
  <mat-form-field *ngIf="source as source" appearance="outline" class="mb-2">
    <mat-label>Source URL</mat-label>
    <input [formControl]="source" matInput>
    <mat-hint>Must start with http:// or https://</mat-hint>
  </mat-form-field>

  <mat-form-field *ngIf="title as title" appearance="outline" class="mb-2">
    <mat-label>Title</mat-label>
    <input [formControl]="title" matInput>
  </mat-form-field>

  <mat-form-field *ngIf="description as description" appearance="outline" class="mb-2">
    <mat-label>Description</mat-label>
    <textarea [formControl]="description" matInput rows="5"></textarea>
  </mat-form-field>
</div>


