<div class="dialog-container">
  <h2 mat-dialog-title>General info</h2>
  <mat-dialog-content>

    <app-loadable-content [loadingState]="bucketLoadingState$ | async">
      <ng-container *ngIf="bucket$ | async as bucket">
        <app-loadable-content (loadAgain)="reloadDetails(bucket.auth)" [loadingState]="detailsLoadingState$ | async">
          <ng-container *ngIf="details$ | async as details">


            <p><span class="user-select-none">Name: </span>{{ bucket.bucket.name }}</p>
            <p><span class="user-select-none">Encrypted: </span>{{ bucket.bucket.encrypted ? 'Yes' : 'No' }}</p>
            <p><span class="user-select-none">Password Protected: </span>{{ bucket.bucket.passwordProtected ? 'Yes' : 'No' }}</p>
            <p><span class="user-select-none">Files: </span>{{ details.fileCount }} ({{ details.totalFileSize | bytes }})</p>
            <p><span class="user-select-none">Sessions created: </span>{{ details.sessionsCreated }}</p>
            <p>
              <span class="user-select-none">Api Url: </span>
              <a style="color: inherit; outline: none" [href]="apiUrl + '/buckets/' + bucket.bucket.id">{{ apiUrl + '/buckets/' + bucket.bucket.id }}</a>
            </p>
            <p class="d-block" style="overflow-x: auto">
              <span class="user-select-none text-wrap-none">Share Token: </span>
              <span>{{ bucket.auth.shareToken }}</span>
            </p>



          </ng-container>
        </app-loadable-content>
      </ng-container>
    </app-loadable-content>

  </mat-dialog-content>
  <mat-dialog-actions class="w-100">
    <div class="w-100 d-flex justify-content-end">
      <button mat-button mat-dialog-close>Close</button>
    </div>

  </mat-dialog-actions>
</div>
