<div (dragenter)="dragEnter($event)"
     (dragleave)="dragLeave($event)"
     (dragover)="dragOver($event)"
     (drop)="drop($event)" [ngClass]="highlighted ? 'active': ''" class="mat-elevation-z6 file-upload d-flex align-items-center justify-content-center"
>
  <input #input (change)="fileSelectChange()" class="d-none" multiple type="file">

  <div class="text-center p-4">
    <mat-icon>cloud_upload</mat-icon>

    <h1>Drag and drop files here</h1>
    <p><small>or</small></p>
    <button (click)="selectFiles()" color="accent" mat-flat-button>Browse files</button>
  </div>
</div>
