<div class="dialog-container">
  <h2 mat-dialog-title>Create a new post</h2>
  <mat-dialog-content class="p-3">
    <app-create-post-form
      (deleteIndexes)="deleteUploads($event)"
      (filesAdded)="addFiles($event)"
      (swapUploads)="swapUploads($event)"
      [(description)]="description"
      [(flatten)]="flatten"
      [(source)]="source"
      [(tags)]="tags"
      [(title)]="title"
      [bucket]="bucket$ | async"
      [uploads]="job.uploads">
    </app-create-post-form>
  </mat-dialog-content>

  <mat-dialog-actions class="w-100">
    <div class="w-100 d-flex justify-content-between">
      <div>
        <mat-checkbox (change)="createAnother = $event.checked" [checked]="createAnother">Create another</mat-checkbox>
      </div>

      <div *ngIf="(bucket$ | async) as bucket">
        <button (click)="submit(bucket)" [disabled]="job.isEmpty()" color="primary" mat-raised-button>Start</button>
        <button [mat-dialog-close]="true" mat-button>Cancel</button>
      </div>
    </div>
  </mat-dialog-actions>
</div>
