<form [formGroup]="form">
  <div class="row mb-3">
    <app-file-upload-box (filesAdded)="filesAdded.emit($event)" class="mb-3">
    </app-file-upload-box>

    <mat-accordion>
      <mat-expansion-panel #panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Click to {{ panel.expanded ? 'hide' : 'expand' }} files
          </mat-panel-title>
          <mat-panel-description>
              <span *ngIf="activeUploads.length > 0">
              {{ activeUploads.length }} File(s) - {{ uploadSize | bytes }}
              </span>
            <i *ngIf="activeUploads.length <= 0">
              No files
            </i>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <app-upload-list (deleteIndexes)="deleteIndexes.emit($event)"
                           (swapUploads)="swapUploads.emit($event)"
                           [uploads]="uploads"
                           class="">
          </app-upload-list>
        </ng-template>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="row">

    <app-post-info-form-fields
      [description]="form.controls.description"
      [source]="form.controls.source"
      [title]="form.controls.title">
    </app-post-info-form-fields>

    <app-tag-edit (tagsChange)="tagsChange.emit($event)" [bucket]="bucket" [tags]="tags">
    </app-tag-edit>

    <mat-radio-group formControlName="flatten">
      <mat-radio-button [value]="false">All files in single post</mat-radio-button>
      <mat-radio-button [value]="true">Each file in a separate post</mat-radio-button>
    </mat-radio-group>

  </div>
</form>
