<mat-toolbar *ngIf="bucket as bucket" class="mat-elevation-z6 position-relative" color="primary" style="z-index: 1000">

  <a mat-button (click)="showGeneralInfo.emit()">
     <span>
      {{ bucket.name }}
    </span>

    <mat-icon *ngIf="bucket.encrypted" style="vertical-align: middle">
      lock
    </mat-icon>
  </a>

  <div class="spacer"></div>

  <button [matMenuTriggerFor]="menu" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">

    <a [routerLink]="['/buckets', bucket.id]" mat-menu-item>
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </a>

    <a [routerLink]="['/buckets', bucket.id, 'stats']" mat-menu-item>
      <mat-icon>query_stats</mat-icon>
      <span>Statistics</span>
    </a>

    <mat-divider></mat-divider>

    <a mat-menu-item routerLink="/">
      <mat-icon>compare_arrows</mat-icon>
      <span>Switch bucket</span>
    </a>

    <button (click)="logout.emit()" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>


</mat-toolbar>
