$roboto-font-path: "../fonts" !default;
@import "roboto-fontface/css/roboto/sass/roboto-fontface";

$material-icons-font-path: '../iconfont/';
@import 'material-icons/iconfont/material-icons.scss';

@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/bootstrap-utilities.scss";
@import "bootstrap/scss/forms";

html, body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.backdrop {
  background-color: rgba(6, 6, 7, 0.95);
}

.spacer {
  flex: 1 1 auto;
}

mat-dialog-container .mdc-dialog__surface {
  overflow: visible;
}
