@use '@angular/material' as mat;

$roboto-font-path: "../fonts" !default;
@import "roboto-fontface/css/roboto/sass/roboto-fontface";

$material-icons-font-path: '../iconfont/';
@import 'material-icons/iconfont/material-icons.scss';

@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/bootstrap-utilities.scss";
@import "bootstrap/scss/forms";



@include mat.core();

$dark-primary: mat.define-palette(mat.$blue-grey-palette, 500);
$dark-accent: mat.define-palette(mat.$deep-purple-palette, 500);

// Define a dark theme
$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent
 ),
  typography: mat.define-typography-config(),
  density: -1,
));

@include mat.all-component-themes($dark-theme);

html, body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.backdrop {
  background-color: rgba(6, 6, 7, 0.95);
}

.spacer {
  flex: 1 1 auto;
}

mat-dialog-container .mdc-dialog__surface {
  overflow: visible;
}
