@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/bootstrap-utilities.scss";
@import "bootstrap/scss/forms";

html, body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.backdrop {
  background-color: rgba(6, 6, 7, 0.9);
}

.mat-mdc-dialog-surface {
  overflow-y: visible !important;
  margin-top: 7vh;
}

.cdk-global-overlay-wrapper {
  overflow-y: auto;
  align-items: start !important;
}


.spacer {
  flex: 1 1 auto;
}
