<div *ngIf="buckets as buckets" class="row h-100">
  <app-bucket-select
    (selectedIdChange)="setSelectedId($event)"
    [buckets]="buckets"
    [selectedId]="selectedId"
    class="col-md-4 height">
  </app-bucket-select>

  <div class="col-md-8 height mt-4 mt-md-0">
    <ng-container *ngIf="selectedBucket as bucket; else elseBlock">

      <form *ngIf="!bucket.auth" [formGroup]="form">

        <div class="row mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>

            <input [type]="hidePassword ? 'password' : 'text'"
                   formControlName="password"
                   matInput
                   placeholder="Enter your password">

            <mat-error *ngIf="form.controls.password.invalid">
              This field is required
            </mat-error>

            <button (click)="togglePasswordVisibility()"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword"
                    [disabled]="!bucket.bucket.passwordProtected"
                    mat-icon-button
                    matSuffix
                    type="button">

              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-error *ngIf="loginLoading?.failure as failure">
            Failed to login: {{ failure.message }}
          </mat-error>
        </div>

        <button (click)="loginClick()" [disabled]="form.invalid || loginLoading?.isLoading"
                color="primary"
                mat-flat-button>
          Login
        </button>
      </form>

      <ng-container *ngIf="bucket.auth">

        <div class="w-100 d-flex justify-content-center h-100 align-items-center flex-column">
          <div>
            <button (click)="selectClick()" color="primary" mat-flat-button class="me-1">
              Go
            </button>

            <button (click)="logoutClick()" mat-stroked-button class="ms-1">
              Logout
            </button>
          </div>

        </div>
      </ng-container>

    </ng-container>

    <ng-template #elseBlock>
      No bucket selected
    </ng-template>

  </div>
</div>

